@use "../abstracts/variables" as v;
@use "../abstracts/functions" as f;
@use "../abstracts/mixins" as m;

// ==============================
// INTRO
// ==============================
.intro {
  background-color: v.$light-color;
  padding: f.px-to-rem(40) f.px-to-rem(20);
  text-align: center;

  &__container {
    max-width: 800px;
    margin: 0 auto;
  }

  &__title {
    font-size: f.px-to-rem(24);
    color: v.$dark-color;
    margin-bottom: v.$spacing;
  }

  &__text {
    font-size: f.px-to-rem(16);
    line-height: 1.6;
    color: v.$dark-color;
  }

  // TABLET
  @include m.respond-to(tablet) {
    padding: f.px-to-rem(60) f.px-to-rem(30);

    &__title {
      font-size: f.px-to-rem(32);
    }

    &__text {
      font-size: f.px-to-rem(18);
    }
  }

  // DESKTOP
  @include m.respond-to(desktop) {
    padding: f.px-to-rem(80) f.px-to-rem(60);

    &__title {
      font-size: f.px-to-rem(40);
    }

    &__text {
      font-size: f.px-to-rem(20);
    }
  }
}
